body{
        padding:0;
        margin: 0px auto;
        
    }   
    
    .wrapper{
        height: 100%;
        margin: 0 auto;
        padding: 0px;
    }
    
    header{
        min-height: 50px;
        background-color: chocolate;
    }
    .left_panel{
        float: left;
        height:620px;
        background-color: antiquewhite;
        width: 20%;
    }
        .right_panel{
        float: right;
        height:620px;
        background-color: antiquewhite;
        width: 15%;
    }
    .content{
        height: 620px;
        width: 75%;
        margin-left: 20%;
        background-color: antiquewhite;
    }
    footer{
        min-height: 30px;
        box-shadow: 0px 0px 2px 0px;
        background-color:antiquewhite;
        text-align: center;
        line-height: 30px;
    }
    
    .logo {
        float: left;
        padding: 0px;
        margin: 0px;  
    }
    
    nav {
        float: right;
        padding: 0px;
        margin: 0px;
    }
    
    nav ul{
        display: inline;
        list-style-type: none;
        
        
        
    }
    
    nav ul li{
    display: inline;
    list-style-type: none;
    }
    nav ul li a{
        padding:20px 77px;
        text-decoration: none;
       
        margin: 0;
        line-height: 50px;
    }
    nav ul li a:hover{
        background-color: antiquewhite;
    }



/*   <!*=====================LOGIN PAGE STYLES=============================>*/
  .panel{
            position: relative;
            margin: auto;
            width: 250px;
            background: rgba(255, 255, 255, 0.25);
            padding: 20px;
            top: 60px;
            left: -85px;
            text-align: center;
            box-shadow: 1px 1px 1px;
            border-radius: 5px;

        }
  .red{
    background: red;
  }
        table{
            margin: 0 auto;
        }

        table button[type="submit"]{
            cursor: pointer;
            padding: 5px 25px;
            background: chocolate;
            border-radius: 6px;
            margin-top: 10px;
            color: antiquewhite;
        }
         table button[type="submit"]:hover{
            background: antiquewhite;
            border-radius: 6px;
            color: chocolate;
        }

        input[type="email"],input[type="password"],input[type="text"]{
             padding: 10px 10px 10px 10px;
            text-align: center;
            border-radius: 4px;


        }


/* ======================================USER PROFILE CARD==================================================*/
.userCard{
    margin: 0 auto;
    backgrgound: #009dff;
    height: 280px;
    width: 200px;
}

.imgHolder{
        margin: 10px auto;
        background-image: url(../../assets/img/user.jpg) ;
        width: 125px;
        height: 125px;
        border-radius: 125px;
        background-size:cover;
        background-repeat: no-repeat;
        background-origin: content-box;
}   
.userDetails{
    
}

.info p,.info h3{
    margin: 5px;
}
.info{
    text-align:center;
}   

.info table{
    margin: 15px auto;
    margin-bottom: 10px: 
}
.info button{
    padding: 5px 10px;
    background: orange;
    cursor: pointer;
}

.userNav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: chocolate;
}

.userNav i{
    padding-right:6px;
    color: orange;   
}

.userNav li a{
    text-decoration: none;
    display: block;
    width: 168px;
    padding: 8px 16px;
    color: #000;
}
.userNav li a:hover{
    background-color: antiquewhite;
    color: white;
}

.userDetails img {
    width: 100%;
    height: auto;
}






